<div class="product-card">
    <img src="{{imageUrl}}">
    <h3 style="font-style: italic">Price: {{price}}.00 lv.</h3>
    <a href="order/place/{{_id}}" class="button product-title">Order</a>
</div>
