<h1>Welcome to Doner Place!</h1>
<p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef and lamb and any topping you want. Place your order now!</p>
<div class="sub">
    <div class="image-holder">
        <img src="img/1.jpg" class="slider-image" />
        <img src="img/2.jpg" class="slider-image" />
        <img src="img/3.jpg" class="slider-image" width="900px" />
    </div>
</div>
