<h1>Login</h1>
<div class="sub">
  <form action="/users/login" method="POST">
  <label for="username"><img src="/img/log.png"></label>
  <input id="logg" type="text" name="username" placeholder="Username"/>
  <br />
  <label for="password"><img src="/img/save.png"></label>
  <input id="logg" type="password" name="password" placeholder="Password"/>
  <br />
  <input type="submit" value="Login" />
</form>
</div>
